# dependencies
node_modules/
functions/node_modules/

# build outputs
dist/
functions/lib/

# env files
.env
.env.local
.env.development
.env.production
.env.*.local

# logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
firebase-debug.log*
firestore-debug.log*
ui-debug.log*

# system/editor
.DS_Store
.vscode/
.idea/

# temporary files
tmp/
.tmp/
*.tmp
.firebase/
